<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Settings for Service Reader -->
  <!--<appSettings>
    <add key="ReaderAssembly" value="PersonReader.Service.dll"/>
    <add key="ReaderType" value="PersonReader.Service.ServiceReader"/>
  </appSettings>-->


  <!-- Settings for CSV Reader -->
  <!--<appSettings>
    <add key="ReaderAssembly" value="PersonReader.CSV.dll"/>
    <add key="ReaderType" value="PersonReader.CSV.CSVReader"/>

    <add key="CSVFileName" value="People.txt"/>
  </appSettings>-->


  <!--  Settings for SQL Reader -->
   <appSettings>
    <add key="ReaderAssembly" value="PersonReader.SQL.dll"/>
    <add key="ReaderType" value="PersonReader.SQL.SQLReader"/>
  </appSettings> 

</configuration>