<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Settings for Service Reader -->
  <!--<appSettings>
    <add key="ReaderType" value="PersonReader.Service.ServiceReader, 
         PersonReader.Service, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>-->


  <!-- Settings for CSV Reader -->
  <!--<appSettings>
    <add key="ReaderType" value="PersonReader.CSV.CSVReader, PersonReader.CSV, Version=1.0.0.0, Culture=neutral"/>

    <add key="CSVFileName" value="People.txt"/>
  </appSettings>-->


  <!--  Settings for SQL Reader -->
  <appSettings>
    <add key="ReaderType" value="PersonReader.SQL.SQLReader, 
         PersonReader.SQL, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>

</configuration>